# Practica 8 - Modificación de tablas y registros

### Trabajar con el esquema **base.sql**

## 1. Inserta 2 productos nuevos en la tabla producto, puedes llamarlos producto1 y producto2.

In [28]:
SELECT * FROM prueba_datos.producto;

ID_Producto,Producto
1,Terreno
2,Oficina
3,Local
4,Nave
5,Isla
6,Consultorio
7,Remates
8,producto1
9,producto2

## 2. Ahora vamos a actualizar los nombres de los productos anteriores:  
2.1 Producto1 será 'Casa'

In [3]:
UPDATE prueba_datos.producto
SET Producto = 'Casa'
WHERE id_producto = 8;

ID_Producto,Producto
1,Terreno
2,Oficina
3,Local
4,Nave
5,Isla
6,Consultorio
7,Remates
8,Casa
9,producto2

2.2 Producto2 será 'Departamento'

In [4]:
UPDATE prueba_datos.producto
SET nombre_producto = 'Departamento'
WHERE id_producto = 9;

ID_Producto,Producto
1,Terreno
2,Oficina
3,Local
4,Nave
5,Isla
6,Consultorio
7,Remates
8,Casa
9,Departamento

## 3. Eliminar casa y departamento de la tabla 'producto'